@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: 'Poppins', sans-serif;
}


#nav {
    background-color: #161617;
    width: 100%;
    margin: auto;
    height: 50px;
}

.main {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: auto;
    padding-top: 18px;
}

.main a {
    color: #fff8;
    text-decoration: none;
    font-size: .8rem;
}

.main a:hover {
    color: #fff
}

.main a i {
    font-size: 1rem;
}

.hero {
    height: 100vh;
    background-image: url(/assets/asset\ 0.jpeg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: rgba(29, 29, 31, 1);
    text-align: center;
}

.hero p {
    color: #fff;
    padding-top: .6rem;
    font-size: .8rem;
    word-spacing: .1rem;
}

.hero-description {
    color: #fff;
    padding-top: 3rem;
}

.hero-description h1 {
    font-size: 3.5rem;
    font-weight: 500;
}

.hero-description h2 {
    font-size: 1.5rem;
    font-weight: 300;
}

.hero-description button {
    border-radius: 1rem;
    padding: .5rem 1rem;
    background-color: transparent;
    color: #fff8;
    border: 1px solid #fff8;
    margin-top: 1rem;
    cursor: pointer;
}

.hero-description button:hover {
    color: #fff;
    border-color: #fff;
}

.img2 {
    height: 80vh;
    background-image: url(/assets/asset\ 1.jpeg);
    background-position: bottom;
    background-repeat: no-repeat;
    /* background-color: rgba(29, 29, 31, 1) */
    text-align: center;
    padding-top: 0;
}

.img2 p {
    color: black;
    padding-top: .6rem;
    font-size: .8rem;
    word-spacing: .1rem;
}

.img2 {
    color: black;
    padding-top: 3rem;
}

.img2 h1 {
    font-size: 3.5rem;
    font-weight: 500;
}

.img2 h2 {
    font-size: 1.5rem;
    font-weight: 300;
}

.img2 button {
    border-radius: 1rem;
    padding: .5rem 1rem;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    margin-top: 1rem;
    cursor: pointer;
}

.img2 button:hover {
    color: #333;
    border-color: black;
}

.section3 {
    background-image: url(/assets/asset\ 3.jpeg);
    height: 100vh;
    width: 100%;
    position: relative;

}

.sec3-des {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 2rem;
    left: 0;
    width: 100%;
}

.btn-container button {
    border-radius: 1rem;
    padding: .5rem 1rem;
    background-color: #fff;
    border: none;
    outline: none;
    margin: .5rem 1rem;

}

.section4 {
    gap: 1rem;
    display: grid;
    grid-template-columns: auto auto;
    padding: 1rem;
}

.grid-item {
    height: 30rem;
    width: 100%;
    background-color: black;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.grid-item .description {
    position: absolute;
    width: 100%;
    left: 0;
    top: 4rem;
}

.grid-item .description h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

.link-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.link-container a {
    margin: .5rem 1rem;
    color: blue;
}

.grid1 {
    background-image: url(/assets/asset30.jpg);

}

.grid2 {
    background-image: url(/assets/grid2.jpg);
}

.grid3 {
    background-image: url(/assets/grid3.jpg);
}

.grid4 {
    background-image: url(/assets/grid4.jpg);
}

.grid5 {
    background-image: url(/assets/asset\ 7.jpeg);
}

.grid6 {
    background-image: url(/assets/grid6.jpg);
}

.grid2,
.grid6 {
    color: #000;
}

.mySlides {
    display: none;
}

.footer-content {
    font-size: smaller;
    text-align: center;
    padding-top: 50px;
}